h1{
    display: grid;
    justify-items: center;

}

main{
    display: grid;
    justify-items: center;
}

.botton{
    background-color: lightgreen;
    border-radius: 5px;

}

a{
    font-size: 13px;
   
}

